* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}

.main {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.count-box {
  width: 650px;
  height: 300px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

button:active{
  background-color: pink;
}
